.cont{
    background: linear-gradient(90deg,#149fff,#117aff);
    color: #fff;
    padding: 15px;
}
.btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}
.btns button{
    color: #fff;
    padding: 0;
    min-width: unset;
}

.checked{
    text-decoration: line-through;
}
.foot{
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 14px;
    margin-top: 25px;
}

.body{
    margin-bottom: 25px;
}

.body h4{
    font-size: 22px;
    margin-bottom: 15px;
}